{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
    <link rel="stylesheet" href="{% static 'styles/contact.css' %}">
</head>
<body style>
    <div class="nav">
        <div>
            <ul>
                <li><a class="a1" href="http://127.0.0.1:8000/user/home"> Home</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/packages"> Packages</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/thingstodo"> Things to do</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/contact"> Contact</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/membership">Membership</a> </li>
                <li><button class="button1">Book Now</button></li>
            </ul>
        </div>
        <div>
            <img class="navimg" src="{% static 'images/ss.png' %}">
        </div>
        </div>
        <div class="bgimg">
            <div class="d1">
                <h2 class="text1">Contact</h2>
            </div>
         </div>
         <div class="d2">
            <img class="img1" src="{% static 'images/map1.png' %}">
            <img class="img2" src="{% static 'images/ad.jpg' %}">
         </div>
            <h2 class="hd1">CONTACT   INFORMATION</h2>
           <div class="title">
            <h3>ADDRESS:</h3>
            <h3>EMAIL:</h3>
            <h3>TELEPHONE:</h3>
            <h3>WORKING HOURS:</h3>
         </div>
         <div class="ans">
            <h4>Nallathanni Road, Near Mosque, Munnar</h4>
            <h4> booking@munnarista.com</h4>
            <h4>+91 9024610145</h4>
            <h4>Mon – Fri 9:00 am – 5:30 pm, Sat 9:00 am – 1:00 pm / 24/7 Phone calls</h4>
       </div>
       <form>
        <input class="i1" type="text" placeholder="Your Name"><br>
        <input class="i1" type="text" placeholder="Email"><br>
        <input class="i1" type="text" placeholder="Subject"><br>
        <input class="i1" type="text" placeholder="Message"><br>
        <input class="s1" type="submit">
     </form>
     <div class="bgdiv">
        <div class="div1">
        <h2>Our Services</h2>
        <h4>Munnar Tours & Travels / Munnar Travel Planners / munnar weekend Holidays / Munnar Holidays Packages / Munnar Travel Agency / Munnar Tour Planners / Munnar Sightseeing / Munnar Jeep Safari / Munnar Adventures / Munnar trekking and Camping / Munnar Travel Guide / Munnar Honeymoon Package / Chennai - Munnar Travel Packages / Bangalore Munnar Travel Packages / Munnar Cottage and Resorts Booking / Munnar Cab Service / Munnar Star Hotels, Cottage Booking / Travel with us enjoy holidays

            Nallathanni(Tea Museum) Road , Near Mosque, Munnar.
            +91 8078593842</h4>
        </div> 
        <div>
    <section class="c">
        <div class="d">
            <img class="grdimg" src="{% static 'images/advisor.jpg' %}">
            </div>
            <div class="d">
                <img class="grdimg" src="{% static 'images/face.jpg' %}">
                </div>
                <div class="d">
                    <img class="grdimg" src="{% static 'images/inst.jpg' %}">
                    </div>
                    <div class="d">
                        <img class="grdimg" src="{% static 'images/google.jpg' %}">
                        </div>
                    </div>

     </div>
        
         </body></html>