{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PACKAGES</title>
    <link rel="stylesheet" href="{% static 'styles/package.css' %}">
</head>
<body>
    <div class="nav">
        <div>
            <ul>
                <li><a class="a1" href="http://127.0.0.1:8000/user/home"> Home</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/packages"> Packages</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/thingstodo"> Things to do</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/contact"> Contact</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/membership">Membership</a> </li>
                <li><button class="button1">Book Now</button></li>
            </ul>
        </div>
        <div>
            <img class="navimg" src="{% static 'images/ss.png' %}">
        </div>
        </div>
        <div class="bgimg">
            <div class="d1">
                <h2 class="text1">Munnar Info & Packages / Munnar Weekend Holidays Packages
                     / Munnar Adventures / Munnar Travel Plan</h2>
            </div>
         </div>
         <div class="pack">
         <h3>PACKAGES</h3>
         <div>
            <div class="d2">
                <img class="img1" src="{% static 'images/tour-1.jpg' %}">
                <h2 class="text2"> 2 Nights 3 Days Munnar</h2>
                <h4 class="text3">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. 
                    <br>You will need to talk to 
                    us for additional permissions about our templates. Thank you.</h4>
                    <button class="btn1">CONTACT US</button>
            </div>
         </div>
         
            <div class="d2">
                <img class="img1" src="{% static 'images/tour2.jpg' %}">
                <h2 class="text2"> 3 Nights 4 Days - Munnar - Aleppey
                </h2>
                <h4 class="text3">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. 
                    <br>You will need to talk to 
                    us for additional permissions about our templates. Thank you.</h4>
                    <button class="btn1">CONTACT US</button>
            </div>
         
            <div class="d2">
                <img class="img1" src="{% static 'images/tour3.jpg' %}">
                <h2 class="text2"> 4 Members Munnar Travel Package
                </h2>
                <h4 class="text3">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. 
                    <br>You will need to talk to 
                    us for additional permissions about our templates. Thank you.</h4>
                    <button class="btn1">CONTACT US</button>
            </div>
            <div class="d2">
                <img class="img1" src="{% static 'images/tour4.jpg' %}">
                <h2 class="text2">2 Persons Munnar / alleppey / Thekkady
                </h2>
                <h4 class="text3">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. 
                    <br>You will need to talk to 
                    us for additional permissions about our templates. Thank you.</h4>
                    <button class="btn1">CONTACT US</button>
            </div>
         </div></div>
         <div class="adv">
            <h3>Adventure</h3>
         </div>
         <div class="maindiv">
         <div class="d3">
            <h3 class="text4"> <u> Wild Life Santuary</u>
            </h3>
            <h4 class="text5">Kerala, the land of mountains, lakes,
                 rivers and backwaters has numerous national parks and sanctuaries.</h4>
                <img class="img2" src="{% static 'images/ele.jpg' %}">
        </div>
        <div class="d3">
            <h3 class="text4"> <u> Birds Watch</u>
            </h3>
            <h4 class="text5">The best time for birding in Southern India is from September to April.
                Watching birds directly connects oneself to the nature</h4>
                <img class="img2" src="{% static 'images/bird.jpg' %}">
        </div>
        <div class="d3">
            <h3 class="text4"> <u>  Trekking</u>
            </h3>
            <h4 class="text5">The highest peak of the Western Ghats is located at
                 Anamudi (2,695 metres) and is good for trekking.</h4>
                <img class="img2" src="{% static 'images/trek.jpg' %}">
        </div>
        <div class="d3">
            <h3 class="text4"> <u>  Speed Boating</u>
            </h3>
            <h4 class="text5">In Kerala Tourism boating options in the dam are offered by the DTPC (District Tourism Promotion Council).
                 speed boats, row boats, pedal boats and motor boats can be hired..</h4>
                <img class="img2" src="{% static 'images/boat.jpg' %}">
        </div>
     </div>
    
</body>
</html>