{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things to do</title>
    <link rel="stylesheet" href="{% static 'styles/things.css' %}">
</head>
<body>
    <div class="nav">
        <div>
            <ul>
                <li><a class="a1" href="http://127.0.0.1:8000/user/home"> Home</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/packages"> Packages</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/thingstodo"> Things to do</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/contact"> Contact</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/membership">Membership</a> </li>
                <li><button class="button1">Book Now</button></li>
            </ul>
        </div>
        <div>
            <img class="navimg" src="{% static 'images/ss.png' %}">
        </div>
        </div>
        <div class="bgimg">
            <div class="d1">
                <h2 class="text1">Munnar Information</h2>
            </div>
         </div>
         <div class="pack">
         <h4>Local Sightseeing in Munnar</h4>
         
    <section class="c">
        <div class="d">
            <img class="grdimg" src="{% static 'images/tea.jpg' %}">
            <h3 class="text2"> <u> Kannan Devan Tea Museum</u>
            </h3>
            <h4 class="text3">The country's first ever Tea Museum located at KDHP'
                s Nullatanni Estate, is just a five minute drive from Munnar Town.</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/church.jpg' %}">
            <h3 class="text2"> <u> CSI Church Munnar</u>
            </h3>
            <h4 class="text3">CSI Church at Munnar was built in 1910 by British . 
                It was constructed using rough hewn granites in Gothic style..</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/blossom.jpg' %}">
            <h3 class="text2"> <u> Blossom Park Munnar</u>
            </h3>
            <h4 class="text3">A nature park set in a vast stretch of wooded
                 land, beside the R.A. Headworks stands majestically welcoming....</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/Pothamedu.jpg' %}">
            <h3 class="text2"> <u> Pothamedu Viewpoint</u>
            </h3>
            <h4 class="text3">It offers an excellent view of Tea,
                 Coffee and Cardamom Plantations.</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/Athukad.jpg' %}">
            <h3 class="text2"> <u> Athukad waterfalls</u>
            </h3>
            <h4 class="text3">The beauty of the waterfall is at its best
                 during the monsoon season.</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/green.jpg' %}">
            <h3 class="text2"> <u> Green Valley View</u>
            </h3>
            <h4 class="text3">The tea plantation that is like a
                 green carpet on the mountains</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/Anamudi.jpg' %}">
            <h3 class="text2"> <u> Anamudi Peak View</u>
            </h3>
            <h4 class="text3">Situated at a height of over 2695 metres,
                 the Anamudi Peak is the tallest peak in South India..</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/Eravikulam.jpg' %}">
            <h3 class="text2"> <u> Eravikulam National Park</u>
            </h3>
            <h4 class="text3">Eravikulam National Park is administered by the Kerala
                 Department of Forests and Wildlife, Munnar Wildlife</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/Lakkom.jpg' %}">
            <h3 class="text2"> <u> Lakkom Water Falls</u>
            </h3>
            <h4 class="text3">Lakkom Water Falls is tourist attraction
                 located on the way from Munnar to Udumalaipettai.</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/sandalr.jpg' %}">
            <h3 class="text2"> <u> Sandalwood Forest Marayoor</u>
            </h3>
            <h4 class="text3">Marayoor contains a number of sandalwood forests, and is the only place in Kerala
                 where natural sandalwood forest is present.</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/Thoovanam.jpg' %}">
            <h3 class="text2"> <u> Thoovanam waterfalls</u>
            </h3>
            <h4 class="text3"> Thoovanam Falls 
                is a breathtaking cascade that originates from the Pambar River..</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/Muniyara.jpg' %}">
            <h3 class="text2"> <u> Muniyara Dolmens</u>
            </h3>
            <h4 class="text3">These dolmenoids were burial chambers made of four stones placed 
                on edge and covered by a fifth stone called the cap stone.</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/Photo.jpg' %}">
            <h3 class="text2"> <u> Photo Point</u>
            </h3>
            <h4 class="text3">A place to have the portrait for memories</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/Mattupetty.jpg' %}">
            <h3 class="text2"> <u> Mattupetty Dam</u>
            </h3>
            <h4 class="text3">Dam constructed for the Hydro – Electric project.
                 Its 1700 Mts above the sea level.</h4>
        </div> 
        <div class="d">
            <img class="grdimg" src="{% static 'images/Top.jpg' %}">
            <h3 class="text2"> <u> Top Station View Point</u>
            </h3>
            <h4 class="text3">This place gives a real 'above the clouds' experience.</h4>
        </div> 
        </section>
        <div class="adv">
            <h3>Adventure</h3>
         </div>
         <div class="maindiv">
         <div class="d3">
            <h3 class="text4"> <u> Wild Life Santuary</u>
            </h3>
            <h4 class="text5">Kerala, the land of mountains, lakes,
                 rivers and backwaters has numerous national parks and sanctuaries.</h4>
                <img class="img2" src="{% static 'images/ele.jpg' %}">
        </div>
        <div class="d3">
            <h3 class="text4"> <u> Birds Watch</u>
            </h3>
            <h4 class="text5">The best time for birding in Southern India is from September to April.
                Watching birds directly connects oneself to the nature</h4>
                <img class="img2" src="{% static 'images/bird.jpg' %}">
        </div>
        <div class="d3">
            <h3 class="text4"> <u>  Trekking</u>
            </h3>
            <h4 class="text5">The highest peak of the Western Ghats is located at
                 Anamudi (2,695 metres) and is good for trekking.</h4>
                <img class="img2" src="{% static 'images/trek.jpg' %}">
        </div>
        <div class="d3">
            <h3 class="text4"> <u>  Speed Boating</u>
            </h3>
            <h4 class="text5">In Kerala Tourism boating options in the dam are offered by the DTPC (District Tourism Promotion Council).
                 speed boats, row boats, pedal boats and motor boats can be hired..</h4>
                <img class="img2" src="{% static 'images/boat.jpg' %}">
        </div>
        <div class="d3">
            <h3 class="text4"> <u> Campfire</u>
            </h3>
            <h4 class="text5">Our travels provide campfire in hotels and cottages.Participate
                 in the campfire</h4>
                <img class="img2" src="{% static 'images/camp.jpg' %}">
        </div>
        <div class="d3">
            <h3 class="text4"> <u>  Elephant Safari</u>
            </h3>
            <h4 class="text5">Our Travels offers elephant safari through 
                the forest destinations tourist centers.</h4>
                <img class="img2" src="{% static 'images/safari.jpg' %}">
        </div>
     </div>
        
         </body>
         </html>